---
---

@charset "utf-8";

@import "variables";
@import "bootstrap";
@import "bootswatch";

.carousel-inner {
  .item {
    position: relative;

    .overlay {
      margin-top: 100px;
      padding-top:    $jumbotron-padding;
      padding-bottom: $jumbotron-padding;
      margin-bottom: $jumbotron-padding;
      color: $jumbotron-color;
      width: 100%;
      position: absolute;

      @media screen and (min-width: $screen-sm-min) {
        padding-top:    ($jumbotron-padding * 1.6);
        padding-bottom: ($jumbotron-padding * 1.6);

        h1,
        .h1 {
          font-size: $jumbotron-heading-font-size;
        }
      }

      h1,
      .h1 {
        color: $jumbotron-heading-color;
      }

      p {
        margin-bottom: ($jumbotron-padding / 2);
        font-size: $jumbotron-font-size;
        font-weight: 200;
      }

      > hr {
        border-top-color: darken($jumbotron-bg, 10%);
      }
    }
  }
}
