---
---

@charset "utf-8";

@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "sections";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 20px;
  margin-bottom: 400px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 280px;
  }
  @media (min-width: $screen-md-min) {
    margin-bottom: 217px;
  }
  @media (min-width: $screen-lg-min) {
    margin-bottom: 196px;
  }
}

main.container {
  margin-top: 100px;

  img {
    @include img-responsive;
  }

  aside {
    margin: 1em;
  }
}

footer.section {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.clear {
  clear: both;
}

#hero {
  img.background {
    @include img-responsive;
  }

  .overlay {
    margin-top: 100px;
    padding-top:    $jumbotron-padding;
    padding-bottom: $jumbotron-padding;
    margin-bottom: $jumbotron-padding;
    color: $jumbotron-color;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);

    @media screen and (min-width: $screen-sm-min) {
      padding-top:    ($jumbotron-padding * 1.6);
      padding-bottom: ($jumbotron-padding * 1.6);

      h1,
      .h1 {
        font-size: $jumbotron-heading-font-size;
      }
    }

    h1,
    .h1 {
      color: $jumbotron-heading-color;
    }

    p {
      margin-bottom: ($jumbotron-padding / 2);
      font-size: $jumbotron-font-size;
      font-weight: 200;
    }

    > hr {
      border-top-color: darken($jumbotron-bg, 10%);
    }
  }
}
